# ========================
# Keil 编译输出文件
# ========================
*.o
*.d
*.crf
*.lst
*.lnp
*.map
*.axf
*.hex
*.dep
*.iex
*.i
*.l2p
*_2i
*.fed
*.bin
*.bak
*.htm
*.build_log.htm



# ========================
# Keil 工程用户文件（不应提交）
# ========================
*.uvguix.*
*.uvgui.*
*.uvoptx


# ========================
# JLink 调试文件
# ========================
JLinkLog.txt
*.dbgconf
